<nav>
    <div class="nav-wrapper">
        <div class="input-field">
          <input [(ngModel)]="query">
          <label class="label-icon" for="search"><i class="material-icons">search</i></label>
					<i class="material-icons">close</i>
				</div>
    </div>
  </nav>
		<div class="row" >
				<div class="col s3 _inline" *ngFor="let user of users | startsWith : query">
				 <app-oneuser [user]="user"></app-oneuser>
				 <div>
		</div>

